{% assign tokenParams = site.data.works[page.title] %}
{% assign tokenAttrs = site.data.SpikeBall_attrs[page.title] %}
<video class="seriesOverviewVideo" height="600" autoplay="autoplay" controls loop >
  <source type="video/mp4" src="https://gateway.pinata.cloud/ipfs/{{tokenParams.ipfs_hash}}" type="video/mp4">
Your browser does not support the video tag.
</video>

<br>
<br>
<div class="TokenData">
<b>Token Data:</b>
<br>
<span>Token owner: <code>{{tokenParams.owner}}</code></span>
<br>
<span>Token seed: <code>{{tokenParams.seed}}</code></span>
<br>
<span>Number of times token has been transacted: <code>{{tokenParams.nTransactions}}</code></span>
<br>
<br>
<b>Token Properties:</b>
<br>
{% for attr in tokenAttrs %}
  <span>{{attr[0]}}: <code>{{attr[1]}}</code></span>
  <br>

{% endfor %}

<br>
<a href="https://opensea.io/assets/0x08e8BD2b24ebeF3ef407AcA9dB13436D3FcE25c2/{{tokenParams.id}}" target="_blank" rel="noopener noreferrer" style="text-align:center;display:block;">View on OpenSea</a>

</div>
<br>
<br>

<div align="center">
  <button id="Gallery-redirect-Spike" class="button-general">Back to Gallery</button>
</div>
